.popup-fade-enter-active, .popup-fade-leave-active {
  opacity: 1;
  transition: opacity 0.4s;
}
.popup-fade-enter, .popup-fade-leave-active {
  opacity: 0;
}
.popup-slide-top-enter-active, .popup-slide-top-leave-active {
  transition: transform $transition-time;
}
.popup-slide-top-enter, .popup-slide-top-leave-active {
  transform: translateY(-100%);
}
.popup-full-slide-top-enter-active, .popup-full-slide-top-leave-active {
  transition: transform 0.4s;
}
.popup-full-slide-top-enter, .popup-full-slide-top-leave-active {
  transform: translateY(-100%);
}
.popup-slide-bottom-enter-active, .popup-slide-bottom-leave-active {
  transition: transform $transition-time;
}
.popup-slide-bottom-enter, .popup-slide-bottom-leave-active {
  transform: translateY(100%);
}
.popup-full-slide-bottom-enter-active, .popup-full-slide-bottom-leave-active {
  transition: transform 0.4s;
}
.popup-full-slide-bottom-enter, .popup-full-slide-bottom-leave-active {
  transform: translateY(100%);
}
.popup-slide-left-enter-active, .popup-slide-left-leave-active {
  transition: transform $transition-time;
}
.popup-slide-left-enter, .popup-slide-left-leave-active {
  transform: translateX(-100%);
}
.popup-full-slide-left-enter-active, .popup-full-slide-left-leave-active {
  transition: transform 0.4s;
}
.popup-full-slide-left-enter, .popup-full-slide-left-leave-active {
  transform: translateX(-100%);
}
.popup-slide-right-enter-active, .popup-slide-right-leave-active {
  transition: transform $transition-time;
}
.popup-slide-right-enter, .popup-slide-right-leave-active {
  transform: translateX(100%);
}
.popup-full-slide-right-enter-active, .popup-full-slide-right-leave-active {
  transition: transform 0.4s;
}
.popup-full-slide-right-enter, .popup-full-slide-right-leave-active {
  transform: translateX(100%);
}
.popup-slide-center-enter-active, .popup-slide-center-leave-active {
  opacity: 1;
  transition-duration: $transition-time;
  transform: translate(-50%, -50%) scale(1)!important;
  transition-property: transform, opacity!important;
}
.popup-slide-center-enter, .popup-slide-center-leave-active {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.85)!important;
}
.popup-full-slide-center-enter-active, .popup-full-slide-center-leave-active {
  opacity: 1;
  transition-duration: 0.4s;
  transform: translate(-50%, -50%) scale(1)!important;
  transition-property: transform, opacity!important;
}
.popup-full-slide-center-enter, .popup-full-slide-center-leave-active {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.85)!important;
}