@import "./reset.scss";
// prefix
$css-prefix             : yui;

// color
$white-color            : #ffffff;
$primary-color          : #108ee9;
$danger-color           : #f04134;
$border-color           : #dddddd;
$dark-color             : #333333;
$grey-color             : #999999;
$black-color            : #000000;
$background-color       : #efeff4;

// animation
$animation-time         : .5s;

// transition
$transition-time        : .4s;

// opacity
$none-opacity           : 1;
$soft-opacity           : 0.8;
$normal-opacity         : 0.5;
$deep-opacity           : 0.2;
$full-opacity           : 0;

// other
$arrow-width            : 4px;