// prefix
$css-prefix             : yui;

// color
$white-color            : #ffffff;
$primary-color          : #108ee9;
$danger-color           : #f04134;
$border-color           : #dddddd;
$dark-color             : #333333;
$grey-color             : #999999;
$black-color            : #000000;
$background-color       : #efeff4;

// animation
$animation-time         : .3s;
$transition-time        : .2s;

// opacity
$soft-opacity           : 0.8;
$normal-opacity         : 0.5;
$deep-opacity           : 0.2;