// prefix
$css-prefix             : yui;

// color
$white-color            : #ffffff;
$primary-color          : #108ee9;
$danger-color           : #f04134;
$border-color           : #bfbfbf;
$dark-color             : #333333;
$grey-color             : #999999;
$black-color            : #000000;

// animation
$animation-time         : .3s;
$transition-time        : .2s;