
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>IconFont</title>
    <link rel="stylesheet" href="demo.css">
    <link rel="stylesheet" href="iconfont.css">
</head>
<body>
    <div class="main markdown">
        <h1>IconFont 图标</h1>
        <ul class="icon_lists clear">
            
                <li>
                <i class="icon iconfont yui-icon-check"></i>
                    <div class="name">check</div>
                    <div class="fontclass">.yui-icon-check</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-close"></i>
                    <div class="name">close</div>
                    <div class="fontclass">.yui-icon-close</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-emoji"></i>
                    <div class="name">emoji</div>
                    <div class="fontclass">.yui-icon-emoji</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-favorfill"></i>
                    <div class="name">favor_fill</div>
                    <div class="fontclass">.yui-icon-favorfill</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-favor"></i>
                    <div class="name">favor</div>
                    <div class="fontclass">.yui-icon-favor</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-loading"></i>
                    <div class="name">loading</div>
                    <div class="fontclass">.yui-icon-loading</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-roundcheckfill"></i>
                    <div class="name">round_check_fill</div>
                    <div class="fontclass">.yui-icon-roundcheckfill</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-roundcheck"></i>
                    <div class="name">round_check</div>
                    <div class="fontclass">.yui-icon-roundcheck</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-roundclosefill"></i>
                    <div class="name">round_close_fill</div>
                    <div class="fontclass">.yui-icon-roundclosefill</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-roundclose"></i>
                    <div class="name">round_close</div>
                    <div class="fontclass">.yui-icon-roundclose</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-roundrightfill"></i>
                    <div class="name">round_right_fill</div>
                    <div class="fontclass">.yui-icon-roundrightfill</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-roundright"></i>
                    <div class="name">round_right</div>
                    <div class="fontclass">.yui-icon-roundright</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-search"></i>
                    <div class="name">search</div>
                    <div class="fontclass">.yui-icon-search</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-timefill"></i>
                    <div class="name">time_fill</div>
                    <div class="fontclass">.yui-icon-timefill</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-time"></i>
                    <div class="name">time</div>
                    <div class="fontclass">.yui-icon-time</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-unfold"></i>
                    <div class="name">unfold</div>
                    <div class="fontclass">.yui-icon-unfold</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-warnfill"></i>
                    <div class="name">warn_fill</div>
                    <div class="fontclass">.yui-icon-warnfill</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-warn"></i>
                    <div class="name">warn</div>
                    <div class="fontclass">.yui-icon-warn</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-likefill"></i>
                    <div class="name">like_fill</div>
                    <div class="fontclass">.yui-icon-likefill</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-like"></i>
                    <div class="name">like</div>
                    <div class="fontclass">.yui-icon-like</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-order"></i>
                    <div class="name">order</div>
                    <div class="fontclass">.yui-icon-order</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-back"></i>
                    <div class="name">back</div>
                    <div class="fontclass">.yui-icon-back</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-more"></i>
                    <div class="name">more</div>
                    <div class="fontclass">.yui-icon-more</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-scan"></i>
                    <div class="name">scan</div>
                    <div class="fontclass">.yui-icon-scan</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-questionfill"></i>
                    <div class="name">question_fill</div>
                    <div class="fontclass">.yui-icon-questionfill</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-question"></i>
                    <div class="name">question</div>
                    <div class="fontclass">.yui-icon-question</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-top"></i>
                    <div class="name">top</div>
                    <div class="fontclass">.yui-icon-top</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-pulldown"></i>
                    <div class="name">pull_down</div>
                    <div class="fontclass">.yui-icon-pulldown</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-pullup"></i>
                    <div class="name">pull_up</div>
                    <div class="fontclass">.yui-icon-pullup</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-right"></i>
                    <div class="name">right</div>
                    <div class="fontclass">.yui-icon-right</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-refresh"></i>
                    <div class="name">refresh</div>
                    <div class="fontclass">.yui-icon-refresh</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-moreandroid"></i>
                    <div class="name">more_android</div>
                    <div class="fontclass">.yui-icon-moreandroid</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-deletefill"></i>
                    <div class="name">delete_fill</div>
                    <div class="fontclass">.yui-icon-deletefill</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-delete"></i>
                    <div class="name">delete</div>
                    <div class="fontclass">.yui-icon-delete</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-home"></i>
                    <div class="name">home</div>
                    <div class="fontclass">.yui-icon-home</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-homefill"></i>
                    <div class="name">home_fill</div>
                    <div class="fontclass">.yui-icon-homefill</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-squarecheckfill"></i>
                    <div class="name">square_check_fill</div>
                    <div class="fontclass">.yui-icon-squarecheckfill</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-square"></i>
                    <div class="name">square</div>
                    <div class="fontclass">.yui-icon-square</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-squarecheck"></i>
                    <div class="name">square_check</div>
                    <div class="fontclass">.yui-icon-squarecheck</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-round"></i>
                    <div class="name">round</div>
                    <div class="fontclass">.yui-icon-round</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-roundaddfill"></i>
                    <div class="name">round_add_fill</div>
                    <div class="fontclass">.yui-icon-roundaddfill</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-roundadd"></i>
                    <div class="name">round_add</div>
                    <div class="fontclass">.yui-icon-roundadd</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-add"></i>
                    <div class="name">add</div>
                    <div class="fontclass">.yui-icon-add</div>
                </li>
            
                <li>
                <i class="icon iconfont yui-icon-share"></i>
                    <div class="name">share</div>
                    <div class="fontclass">.yui-icon-share</div>
                </li>
            
        </ul>

        <h2 id="font-class-">font-class引用</h2>
        <hr>

        <p>font-class是unicode使用方式的一种变种，主要是解决unicode书写不直观，语意不明确的问题。</p>
        <p>与unicode使用方式相比，具有如下特点：</p>
        <ul>
        <li>兼容性良好，支持ie8+，及所有现代浏览器。</li>
        <li>相比于unicode语意明确，书写更直观。可以很容易分辨这个icon是什么。</li>
        <li>因为使用class来定义图标，所以当要替换图标时，只需要修改class里面的unicode引用。</li>
        <li>不过因为本质上还是使用的字体，所以多色图标还是不支持的。</li>
        </ul>
        <p>使用步骤如下：</p>
        <h3 id="-fontclass-">第一步：引入项目下面生成的fontclass代码：</h3>


        <pre><code class="lang-js hljs javascript"><span class="hljs-comment">&lt;link rel="stylesheet" type="text/css" href="./iconfont.css"&gt;</span></code></pre>
        <h3 id="-">第二步：挑选相应图标并获取类名，应用于页面：</h3>
        <pre><code class="lang-css hljs">&lt;<span class="hljs-selector-tag">i</span> <span class="hljs-selector-tag">class</span>="<span class="hljs-selector-tag">iconfont</span> <span class="hljs-selector-tag">yui-icon-xxx</span>"&gt;&lt;/<span class="hljs-selector-tag">i</span>&gt;</code></pre>
        <blockquote>
        <p>"iconfont"是你项目下的font-family。可以通过编辑项目查看，默认是"iconfont"。</p>
        </blockquote>
    </div>
</body>
</html>
